@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Great+Vibes&family=Italiana&family=Qwitcher+Grypen:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

.cover {
  background-image: url('/assets/Couple2.png');
}

@media (min-width: 768px) {
  .cover {
    background-image: url('/assets/Couple3.png');
  }
}